.graph-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-top: solid rgb(5, 56, 77) 50px;
    background-color: rgb(194, 210, 224);
    height: 399px;
}

.graph-pi {
    width: 500px;
    height: 300px;
}

.media h1 {
    font-size: 100px;
    border: 1px solid rgb(9, 47, 73);
    border-radius: 100%;
    padding: 30px;
}