.login-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: auto;
    border-right: solid 10px rgb(16, 91, 204);
    border-radius: 3px;
    color: rgb(16, 91, 204);
}